@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
    // removing all default extra space 
    padding: 0;
    margin: 0;
}

body{
    // change the background colour and set font to fira sans
    background-color: rgb(248, 248, 248);
    font-family: 'Fira Sans', sans-serif;
}

// remove all text decoration from hyperlink
a{
    text-decoration: none;
}

nav{
    box-shadow: -1px 11px 7px -4px rgb(243, 243, 243);
    padding: 50px 150px;
    // width: 100%;
    background-color: rgb(248, 248, 248);
    // width: 100%;
    position: fixed;
    top:0; left:0;

    // make logo and link div flexbox 
    display: flex;
    font-size: 20px;
    a{
        color: #716aec;
    }
    a:hover{
        color: #3F3D56;
    }
    // remove all text decoration from list
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;


    }
    // make them look good
    div.logo{
        display: flex;
        a{
            color: #3F3D56;
            font-weight: bold;
        }

        width: 40%;
    }
    div.links{
        width: 60%;
    }
    div.ham{
        display: none;
        margin-left: auto;
        img{
            height: 20px;
            width: 20px;
        }
    }
}
.nav2{
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: -1px -11px 7px -4px rgb(243, 243, 243);
    // background-color: rgb(248, 248, 248);
    width: 100%;

    // make logo and link div flexbox 
    display: flex;
    font-size: 10px;
    a{
        color: #716aec;
    }
    a:hover{
        color: #3F3D56;
    }
    // remove all text decoration from list
    ul{
        padding: 40px;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
            text-align: center;
            i{
                font-size: 15px;
            }

        }

    }

}
.container1{
    position: relative;
}
.container{
    padding: 0 200px;
    text-align: justify;
}

@media only screen and (max-width: 900px) {
    nav{

        font-size: 19px;
        div.logo{    
            width: 30%;
        }
        div.links{
            width: 70%;
        }
    }
    .container{
        padding: 0 100px;
        text-align: justify;
    }
    
}
@media only screen and (max-width: 800px) {
    nav{
        padding: 50px 80px;
        font-size: 19px;
        div.logo{    
            width: 30%;
        }
        div.links{
            width: 70%;
        }
    }
    .container{
        padding: 0 150px;
        text-align: justify;
    }
    
}
@media only screen and (max-width: 750px) {
    nav{
        padding: 50px 50px;
        div.logo{    
            width: 40%;
        }
        div.links{
            width: 60%;
        }
    }
    .container{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 650px) {
    nav{
        padding: 0;
        display: block;
        div.logo{    
            padding: 50px 50px;
            a{
                color: #716aec;
            }
        }
        div.links{
            width: 100%;
            display: none;
            text-align: center;
            padding: 10px 0px;
        }
        div.ham{
            display: flex;
            color :#716aec
        }

        ul{
            padding: 50px 0px;

            display: block;
            text-align: center;
        }
        li{
            padding: 2px 0;
        }

    }
    .container{
        padding: 0px 50px;
        text-align: justify;
    }
}
@media only screen and (max-width: 500px) {
    nav{
    }
    .container{
        
        padding: 0px 25px;
    }
}



