@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  -webkit-box-shadow: -1px 11px 7px -4px #f3f3f3;
          box-shadow: -1px 11px 7px -4px #f3f3f3;
  padding: 50px 150px;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

nav a {
  color: #716aec;
}

nav a:hover {
  color: #3F3D56;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

nav div.logo a {
  color: #3F3D56;
  font-weight: bold;
}

nav div.links {
  width: 60%;
}

nav div.ham {
  display: none;
  margin-left: auto;
}

nav div.ham img {
  height: 20px;
  width: 20px;
}

span {
  font-weight: bold;
  font-size: 20px;
}

.nav2 {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #716aec;
  width: 100%;
  display: none;
  font-size: 10px;
}

.nav2 a {
  color: #e0dfdf;
}

.nav2 a:hover {
  color: #3F3D56;
}

.nav2 ul {
  padding: 25px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav2 ul li {
  text-align: center;
}

.nav2 ul li i {
  color: #f8f8f8;
  font-size: 14px;
}

.container1 {
  position: relative;
}

.contactDiv {
  padding: 0px 150px;
}

.container {
  margin-top: 2px;
  padding: 0px 150px;
}

.container span {
  color: #716aec;
}

.container #tags {
  background-color: #716aec;
  color: whitesmoke;
  font-size: 12px;
  padding: 2px;
}

.container p {
  text-align: justify;
  color: #8f8ead;
}

.headerSlider {
  -webkit-box-shadow: 10px 10px 10px 0px whitesmoke, -10px -10px 10px 0px whitesmoke, -10px 10px 10px 0px whitesmoke, 10px -10px 10px 0px whitesmoke;
          box-shadow: 10px 10px 10px 0px whitesmoke, -10px -10px 10px 0px whitesmoke, -10px 10px 10px 0px whitesmoke, 10px -10px 10px 0px whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.headerSlider img {
  width: 80%;
}

.headerSlider div.blogTitle {
  width: 40%;
}

.headerSlider div.blogImage {
  width: 60%;
  text-align: right;
}

.headerSlider .title2 {
  display: none;
}

.postsContainer {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postsContainer .couple {
  width: 100%;
}

.postsContainer .couple .title {
  display: none;
}

.postsContainer .couple .title2 {
  display: block;
}

.postsContainer .couple span {
  font-size: 15px;
}

.postsContainer .couple div {
  margin-bottom: 30px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  text-align: left;
  font-size: 10px;
}

.postsContainer .couple div div {
  width: 100%;
}

.postsContainer .couple div #tags {
  font-size: 10px;
}

.postsContainer .couple div p {
  width: 95%;
}

.postsContainer .couple div div.blogImage {
  width: 95%;
  text-align: left;
}

.postsContainer .couple div div.blogImage img {
  width: 100%;
}

.postsContainer .couple div div.blogTitle {
  display: none;
}

#story {
  font-size: 20px;
  padding: 15px 10px;
}

.story2 {
  display: none;
}

#story2Icon {
  display: none;
}

.contentContainer {
  margin: 145px 150px;
  text-align: justify;
  padding: 5px 50px;
  -webkit-box-shadow: 10px 10px 10px 0px whitesmoke, -10px -10px 10px 0px whitesmoke, -10px 10px 10px 0px whitesmoke, 10px -10px 10px 0px whitesmoke;
          box-shadow: 10px 10px 10px 0px whitesmoke, -10px -10px 10px 0px whitesmoke, -10px 10px 10px 0px whitesmoke, 10px -10px 10px 0px whitesmoke;
}

.contentTable {
  border: solid 1px #CD25F1;
  color: #CD25F1;
  padding: 50px 80px;
  font-size: 17px;
}

.contentTable span {
  padding: 10px 0;
  font-weight: bold;
}

.contentTable ol {
  padding: 30px 0;
}

.contentTable ol li {
  padding: 2px 0;
}

.contentTable ol ul {
  padding: 0 50px;
}

.contentTable ol a {
  color: #CD25F1;
}

.introduction {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction p {
  color: #8f8ead;
}

.introduction img {
  width: 80%;
}

.introduction div.blogTitle {
  width: 40%;
}

.introduction div.blogImage {
  width: 60%;
  text-align: right;
}

.introduction .title2 {
  display: none;
}

.introduction *, .introduction *:before, .introduction *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.introduction .mouse_scroll {
  display: block;
  width: 24px;
}

.introduction .m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #CD25F1;
  border-bottom: 2px solid #CD25F1;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.introduction .unu {
  margin-top: 1px;
}

.introduction .unu, .introduction .doi, .introduction .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.introduction .unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.introduction .doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.introduction .trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.introduction .mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #CD25F1;
  top: 170px;
}

.introduction .wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #CD25F1;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #CD25F1;
  border-radius: 8px;
}

.introduction .wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    font-size: 19px;
  }
  nav div.logo {
    width: 30%;
  }
  nav div.links {
    width: 70%;
  }
  .contentTable {
    padding: 30px 50px;
  }
  .container {
    margin-top: 5px;
    padding: 0px 150px;
  }
  .container .headerSlider {
    padding: 30px;
  }
  .postsContainer .couple div {
    display: inline-block;
  }
  .contentContainer {
    padding: 30px;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 50px 80px;
    font-size: 19px;
  }
  nav div.logo {
    width: 30%;
  }
  nav div.links {
    width: 70%;
  }
  .contactDiv {
    padding: 0px 80px;
  }
  .container {
    margin-top: 5px;
    padding: 0 80px;
  }
  .contentContainer {
    margin: 145px 80px;
  }
}

@media only screen and (max-width: 750px) {
  nav {
    padding: 50px 50px;
  }
  nav div.logo {
    width: 40%;
  }
  nav div.links {
    width: 60%;
  }
  .contactDiv {
    padding: 0px 50px;
  }
  .container {
    margin-top: 5px;
    padding: 0 50px;
  }
  .contentContainer {
    margin: 145px 50px;
  }
}

@media only screen and (max-width: 650px) {
  .contentTable {
    padding: 10px 35px;
    font-size: 13px;
  }
  nav {
    padding: 0;
    display: block;
  }
  nav div.logo {
    padding: 30px;
  }
  nav div.logo a {
    color: #716aec;
  }
  nav div.links {
    width: 100%;
    display: none;
    text-align: center;
    padding: 10px 0px;
  }
  nav div.ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #716aec;
  }
  nav ul {
    padding: 50px 0px;
    display: block;
    text-align: center;
  }
  nav li {
    padding: 2px 0;
  }
  .nav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactDiv {
    padding: 0px 30px;
  }
  .container {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 0px 30px;
  }
  .container .headerSlider {
    padding: 0px 0px;
  }
  .contentContainer {
    margin: 105px 30px;
    padding: 0 5px 30px 5px;
  }
  .contentContainer .introduction {
    display: inline-block;
  }
  .contentContainer .introduction .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
  }
  .contentContainer .introduction img {
    width: 100%;
  }
  .contentContainer .introduction div.blogTitle {
    width: 100%;
  }
  .contentContainer .introduction div.blogImage {
    width: 100%;
    text-align: center;
  }
  .contentContainer .introduction .title {
    display: none;
  }
  .contentContainer .introduction .title2 {
    padding: 8px;
    display: block;
  }
  .contentContainer .introduction p {
    font-size: 12px;
  }
  .headerSlider {
    -webkit-box-shadow: 10px 10px 10px 0px #f3f3f3, -10px -10px 10px 0px #f3f3f3, -10px 10px 10px 0px #f3f3f3, 10px -10px 10px 0px #f3f3f3;
            box-shadow: 10px 10px 10px 0px #f3f3f3, -10px -10px 10px 0px #f3f3f3, -10px 10px 10px 0px #f3f3f3, 10px -10px 10px 0px #f3f3f3;
    width: 88%;
    display: inline-block;
  }
  .headerSlider img {
    width: 100%;
  }
  .headerSlider div.blogTitle {
    width: 100%;
  }
  .headerSlider div.blogImage {
    width: 100%;
    text-align: center;
  }
  .headerSlider .title {
    display: none;
  }
  .headerSlider .title2 {
    padding: 8px;
    display: block;
  }
  .headerSlider p {
    font-size: 12px;
  }
  .postsContainer {
    display: inline-block;
    font-size: 15px;
  }
  .postsContainer .headerSlider {
    -webkit-box-shadow: 10px 10px 10px 0px #f3f3f3, -10px -10px 10px 0px #f3f3f3, -10px 10px 10px 0px #f3f3f3, 10px -10px 10px 0px #f3f3f3;
            box-shadow: 10px 10px 10px 0px #f3f3f3, -10px -10px 10px 0px #f3f3f3, -10px 10px 10px 0px #f3f3f3, 10px -10px 10px 0px #f3f3f3;
    width: 100%;
    display: inline-block;
  }
  .postsContainer .headerSlider img {
    width: 100%;
  }
  .postsContainer .headerSlider div.blogTitle {
    width: 100%;
  }
  .postsContainer .headerSlider div.blogImage {
    width: 100%;
    text-align: center;
  }
  .postsContainer .headerSlider .title {
    display: none;
  }
  .postsContainer .headerSlider .title2 {
    display: block;
  }
  .postsContainer .headerSlider p {
    font-size: 12px;
  }
  .hideThisTag {
    display: none;
  }
  div.blogTitle {
    display: none;
  }
  .story1 {
    display: none;
  }
  .story2 {
    display: inline-block;
  }
  #story1Icon {
    display: none;
  }
  #story2Icon {
    display: unset;
  }
}

@media only screen and (max-width: 500px) {
  .contactDiv {
    padding: 0px 25px;
  }
  .container {
    margin-top: 5px;
    padding: 0px 25px;
  }
  .container .headerSlider {
    width: 100%;
  }
  .hideThisTag {
    display: none;
  }
  div.blogTitle {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .contactDiv {
    padding: 0px 20px;
  }
  .container .headerSlider {
    padding: 6px 20px;
    width: 88%;
  }
  .hideThisTag {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */