.headerSlider {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.introduction {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction p {
  color: #8f8ead;
}

.introduction img {
  width: 80%;
}

.introduction div.blogTitle {
  width: 40%;
}

.introduction div.blogImage {
  width: 60%;
  text-align: right;
}

.introduction .title2 {
  display: none;
}

.introduction *, .introduction *:before, .introduction *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.introduction .mouse_scroll {
  display: block;
  width: 24px;
}

.introduction .m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #CD25F1;
  border-bottom: 2px solid #CD25F1;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.introduction .unu {
  margin-top: 1px;
}

.introduction .unu, .introduction .doi, .introduction .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.introduction .unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.introduction .doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.introduction .trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.introduction .mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #CD25F1;
  top: 170px;
}

.introduction .wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #CD25F1;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #CD25F1;
  border-radius: 8px;
}

.introduction .wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=mainBlog.css.map */