@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
    // removing all default extra space 
    padding: 0;
    margin: 0;
}


body{
    // change the background colour and set font to fira sans
    background-color: rgb(248, 248, 248);
    font-family: 'Fira Sans', sans-serif;
}

// remove all text decoration from hyperlink
a{
    text-decoration: none;
}

nav{
    box-shadow: -1px 11px 7px -4px rgb(243, 243, 243);
    padding: 50px 150px;
    // width: 100%;
    background-color: rgb(248, 248, 248);
    // width: 100%;
    position: fixed;
    top:0; left:0;

    // make logo and link div flexbox 
    display: flex;
    font-size: 20px;
    a{
        color: #716aec;
    }
    a:hover{
        color: #3F3D56;
    }
    // remove all text decoration from list
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;


    }
    // make them look good
    div.logo{
        display: flex;
        a{
            color: #3F3D56;
            font-weight: bold;
        }

        width: 40%;
    }
    div.links{
        width: 60%;
    }
    div.ham{
        display: none;
        margin-left: auto;
        img{
            height: 20px;
            width: 20px;
        }
    }
}
span{
    font-weight: bold;
    font-size: 20px;
}
.nav2{
    position: fixed;
    bottom: 0;
    left: 0;
    // box-shadow: -1px -11px 7px -4px rgb(243, 243, 243);
    background-color: #716aec;
    width: 100%;

    // make logo and link div flexbox 
    display: none;
    font-size: 10px;
    a{

        color: rgb(224, 223, 223);
    }
    a:hover{
        color: #3F3D56;
    }
    // remove all text decoration from list
    ul{
        padding: 25px;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
            text-align: center;
            i{
                color: rgb(248, 248, 248);

                font-size: 14px;
            }

        }

    }

}
.container1{
    position: relative;
}
.container{
    margin-top: 2px;

    padding: 0px 150px;
    span{
        color: #716aec;

    }
    #tags{
        background-color: #716aec;
        color: rgb(245, 245, 245);
        font-size: 12px;
        padding: 2px;

    }
    p{
    text-align: justify;

        color: #8f8ead;

    }
}


//slideshow
.headerSlider{
    box-shadow: 10px 10px 10px 0px  rgb(245, 245, 245), -10px -10px 10px 0px  rgb(245, 245, 245), -10px 10px 10px 0px  rgb(245, 245, 245), 10px -10px 10px 0px  rgb(245, 245, 245);
    // -10px 10px 10px 0px  rgb(243, 243, 243), 10px -10px 10px 0px  rgb(243, 243, 243);

    // border: solid 1px black;
    display: flex;
    // margin: auto;
    align-items: center;
    padding: 50px;
    img{
        width: 80%;
    }
    div.blogTitle{
        width: 40%;
    }
    div.blogImage{
        width: 60%;
        text-align: right;
    }
    .title2{
        display: none;
    }
}
.postsContainer{
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    // width: 100%;


    .couple{
        width: 100%;
        .title{
            display: none;
        }
        .title2{
            display: block;
        }
        span{
            font-size: 15px;
        }
        div{
            // box-shadow: none;
            margin-bottom: 30px;
            
            padding: 8px;
            display: flex;
            width : 95%;
            text-align: left;
            font-size: 10px;
            div{
                width: 100%;
            }

            #tags{
                font-size: 10px;
            }
            p{
                width: 95%;

            }
            div.blogImage{
                width: 95%;
                text-align: left;
                img{
                    width: 100%;
                }
        
            }
            div.blogTitle{
                display: none;
            }
            
        }
    }


}

#story{
    font-size: 20px;
    padding: 15px 10px;
}
.story2{
    display: none;
}
#story2Icon{
    display: none;
}

@media only screen and (max-width: 900px) {
    nav{

        font-size: 19px;
        div.logo{    
            width: 30%;
        }
        div.links{
            width: 70%;
        }
    }
    .container{
        margin-top: 5px;
        padding: 0px 150px;
        .headerSlider{
            padding: 30px;
        }
    }
.postsContainer{

    .couple{
        div{
            display: inline-block;
        }
    }
}
    
}
@media only screen and (max-width: 800px) {
    nav{
        padding: 50px 80px;
        font-size: 19px;
        div.logo{    
            width: 30%;
        }
        div.links{
            width: 70%;
        }
    }
    .container{
        margin-top: 5px;

        padding: 0 80px;
    }
    
}
@media only screen and (max-width: 750px) {
    nav{
        padding: 50px 50px;
        div.logo{    
            width: 40%;
        }
        div.links{
            width: 60%;
        }
    }
    .container{
        margin-top: 5px;

        padding: 0 50px;
    }
}
@media only screen and (max-width: 650px) {

    nav{
        padding: 0;
        display: block;
        div.logo{    
            padding: 30px;
            a{
                color: #716aec;
            }
        }
        div.links{
            width: 100%;
            display: none;
            text-align: center;
            padding: 10px 0px;
        }
        div.ham{
            display: flex;
            color :#716aec
        }

        ul{
            padding: 50px 0px;

            display: block;
            text-align: center;
        }
        li{
            padding: 2px 0;
        }

    }
    .nav2{
        display: flex;
    }
    .container{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
        padding: 0px 30px;
        .headerSlider{
            padding: 0px 0px;
        }
    }
    .headerSlider{
        box-shadow: 10px 10px 10px 0px rgb(243, 243, 243), -10px -10px 10px 0px  rgb(243, 243, 243), -10px 10px 10px 0px  rgb(243, 243, 243), 10px -10px 10px 0px  rgb(243, 243, 243);
        width: 88%;
        display: inline-block;
        img{
            width: 100%;
        }
        div{

            // padding: 17px 0;
        }
        div.blogTitle{
            width: 100%;
            // text-align: center;
        }
 
        div.blogImage{
            width: 100%;
            text-align: center;
        }
        .title{
            display: none;
        }
        .title2{
            padding: 8px;

            display: block;
        }
        p{
            font-size: 12px;
        }
    }
    .postsContainer{
        display: inline-block;
        font-size: 15px;
        .headerSlider{
            box-shadow: 10px 10px 10px 0px rgb(243, 243, 243), -10px -10px 10px 0px  rgb(243, 243, 243), -10px 10px 10px 0px  rgb(243, 243, 243), 10px -10px 10px 0px  rgb(243, 243, 243);
            width: 100%;
            display: inline-block;
            img{
                width: 100%;
            }
            // div{
            //     padding: 17px 20px;
            // }
            div.blogTitle{
                width: 100%;
                // text-align: center;
            }
            div.blogImage{
                width: 100%;
                text-align: center;
            }
            .title{
                display: none;
            }
            .title2{
                display: block;
            }
            p{
                font-size: 12px;
            }
        }
        
    }
    .hideThisTag{
        display: none;

    }
    div.blogTitle{
        display: none;
    }
    .story1{
        display: none;

    }

    .story2{
        display: inline-block;
    }
    #story1Icon{
        display: none;
    }
    #story2Icon{
        display: unset;
    }
}
@media only screen and (max-width: 500px) {
    .container{
        margin-top: 5px;      
        padding: 0px 25px;
        .headerSlider{
            width: 100%;
        }
    }
    .hideThisTag{
        display: none;

    }
    div.blogTitle{
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .container{
        .headerSlider{
            padding: 6px 20px;
            width: 88%;
        }
    }
    .hideThisTag{
        display: none;

    }

}



